html {
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Abel' !important;
}

button:hover {
  background-color: #3b7a0050;
}

.settings {
  display: block;
  max-width: 400px;
  margin: auto;
}

.settings button {
  width: 90px;
  margin-bottom: 10px;
}

.settings__label {
  margin-bottom: 0;
}

.settings__back-button {
  background-color: var(--color-supersonic-purple);
  color: white;
}

.update-button:hover, .settings__back-button:hover {
  background-color: var(--color-supersonic-brown);
}

#profile-page, .login-view, .registration-form {
  max-width: 300px;
  display: block;
  margin: auto;
}

#already-registered-button, #to-registration-view-button {
  display: block;
  width: 70%;
  background-color: transparent;
  color: black;
  margin-top: 10px;
  margin-bottom: 50px;
  border-color: var(--color-supersonic-purple);
}

.update-button, .settings__back-button, #register-button, #login-button {
  margin-top: 15px;
  background-color: var(--color-supersonic-purple);
  color: white;
}

#register-button, #login-button {
  width: 70%;
}

.practice-setup {
  max-width: 700px;
  margin: auto;
}

.practice-setup-table {
  max-width: 350px;
}

.practice-setup__category-header {
  margin-top: 15px;
}

.practice-setup button {
  font-size: 14.2px;
  width: 90px;
}

#begin-practice-button {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 300px;
  width: 50%;
  background-color: var(--color-supersonic-purple);
  color: white;
  font-weight: bold;
}

#training-session {
  max-width: 700px;
  margin: auto;
}

#interval-count-message {
  font-size: 20px;
}

#divider {
  width: 100%;
  height: 5px;
  background: linear-gradient(25deg, rgba(59,122,0,1) 0%, rgba(63,0,122,1) 100%);
  margin-bottom: 30px;
}

.wide-button {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.results-table {
  max-width: 400px;
}

#landing-page {
  max-width: 1000px;
  margin: auto;
}

#landing-page__welcome-img-container {
  height: 800px;
  width: 100%;
  background-image: url("../../../img/supersonic-welcome-image.jpg");
  background-size: 100% auto;
}
#landing-page__welcome-img-background-color {
  width: 100%;
  height: 100%;
  background-color: #3b7a00b0;
  z-index: 5;
  padding-top: 20%;
}

.landing-page__welcome-img__text {
  font-family: 'Abel';
  font-size: 100px;
  color: var(--color-supersonic-purple);
  text-align: center;
}

.welcome-img__text__smaller {
  font-size: 80px;
}

@media only screen and (max-width: 1200px) {
  #landing-page__welcome-img-container {
    height: 750px;
  }
}
@media only screen and (max-width: 992px) {
  #landing-page__welcome-img-container {
    height: 580px;
  }
  .landing-page__welcome-img__text {
    font-size: 80px;
  }
  .welcome-img__text__smaller {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  #landing-page__welcome-img-container {
    height: 425px;
  }
  .welcome-img__text__smaller {
    font-size: 50px;
  }
}
@media only screen and (max-width: 576px) {
  #landing-page__welcome-img-container {
    height: 350px;
  }
  #landing-page__welcome-img-background-color {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 440px) {
  #landing-page__welcome-img-container {
    width: 300px;
    height: 200px;
  }
  .landing-page__welcome-img__text {
    font-size: 30px;
  }
  .welcome-img__text__smaller {
    font-size: 22px;
  }
}



