:root {
  // colors
  --color-supersonic-green: #3B7A00;
  --color-logout-blue: blue;
}

#home-page {
  // display: block;
  // font-family: 'Abel', sans-serif;
}

h1 {
  color: var(--color-supersonic-green);
}

#home-page__title {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 0.5em;
}

.page-content {
  width: 90%;
  margin: auto;
  text-align: center;
}

#home-page__content__info {
  margin-bottom: 2em;
}

#home-page__banner {
  width: 100%;
  // background-color: black;
}

#home-page__button-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 10px;
}

.home-page__link {
  border: outset 2px var(--color-supersonic-green);
  text-decoration: none;
  color: black;
  width: 150px;
  display: block;
  margin: auto;
}

.link-big {
  width: 300px;
  display: block;
  margin: auto;
  height: 3em;
  padding-top: .7em;
  font-size: 1.5em;
}

.home-page__link:hover {
  color: black;
  background-color: #3b7a0050;
}

.logout-button {
  color: var(--color-logout-blue)
}