#banner {
  background-color: black;
  margin-bottom: 25px;
  padding-right: 1em;
}

#banner-title {
  text-align: center;
}

#collapsible-nav-dropdown {
  color: white;
}

.navbar-brand {
  min-width: 60%;
}

button.navbar-toggler {
  background-color: var(--color-supersonic-green);
  width: 50px;
}

.nav-link {
  color: var(--color-supersonic-green) !important;
  text-decoration: none;
  border: none;
  background-color: inherit;
  float: right;
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 75px;
  text-align: center;
}

.nav-link:hover {
  background-color: #3b7a0050;
}
