.hover-info {
  user-select: none;
}

.hover-info__text {
  opacity: 0;
  position: absolute;
}

.hover-info:hover {
  .hover-info__text {
    opacity: 1;
    background-color: var(--color-supersonic-green);
    border: solid black 1px;
    color: white;
    max-width: 300px;
    padding: 5px;
  }
}